.loading{position:fixed; left:0; top:0; font-size:16px; z-index:100000000;width:100%; height:100%; background:#1a1a1c; text-align:center;}
.loadbox{position:absolute; width:160px;height:150px; color:rgba(255,255,255,.6); left:50%; top:50%; margin-top:-100px; margin-left:-75px;}
.loadbox img{ margin:10px auto; display:block; width:40px;}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    /*background-color: papayawhip;*/
    background: url('../images/background-black.jpg') no-repeat;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
 }

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#customers td,
#customers th {
    font-size: 1em;
    border-left: 1px solid #42a5f5;
    border-right: 1px solid #42a5f5;
    padding: 3px 10px 2px 10px;
    text-align: center;
}

#customers th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #004588;
    color: #ffffff;
}

#customers tr.alt td {
    color: #ffffff;
    background-color: #001935;
}

#customers td{
    height: 30px;
}

.Header{
    background: url('../images/title.png') no-repeat;
    background-size: contain;
    /*border: 1px white dashed;*/
    height: 150px;
}

.headerText{
    color: #ffffff;
    text-align: center;
}
#tablesArea{
    padding: 0px;
    border: 0px;
    border-top: 1px solid #42a5f5;
    margin: 5px 0px 0px;
    height: 500px;
    /*border: #3a8ee6 3px dashed;*/
}
#btootom_line{
    height:0px;
    border:1px solid #42a5f5;
    margin-top: -1px;
}

#lang{
    position:absolute;
    left:2.7%;
    top:1%;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: white;

    background: url('../images/lang.png') no-repeat;
    background-size: 30px;
    background-position: 20px center;
    background-color: rgba(0, 47, 94, 0.5);
    padding-left: 70px;

    transition: background-color 0.5s ease;
    border: 1px solid #caccc5;
    border-radius: 5px;
}

#lang:hover {
    background-color: rgba(0, 90, 195, 0.8);
    cursor: pointer;
}
