@charset "utf-8";
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box}
*,body{padding:0px;	margin:0px;color: #222;font-family: "微软雅黑";}
body{color:#666;font-size: 16px;}
li{ list-style-type:none;}
table{}
i{ margin:0px; padding:0px; text-indent:0px;}
img{ border:none; max-width: 100%;}
a{ text-decoration:none; color:#399bff;}
a.active,a:focus{ outline:none!important; text-decoration:none;}
ol,ul,p,h1,h2,h3,h4,h5,h6{ padding:0; margin:0}
a:hover{ color:#06c; text-decoration: none!important}

#langCN{ position:absolute; left:30px; top:0; margin-top: 10px;}
#langEN{ position:absolute; left:105px; top:0;margin-top: 10px;}
#langDE{ position:absolute; left:180px; top:0;margin-top: 10px;}

#device{
	transition: background-color 0.5s ease;
	border: 1px solid #caccc5;
	border-radius: 5px;position:absolute; left:90px; top:0; margin-top: 10px;width: 230px;height: 800px;height: 50px;text-align: center;font-size: 26px;color: white;background-color: rgba(0, 47, 94,1)}

#goBack {
	position:absolute;
	left:25px;
	top:0;
	margin-top: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 26px;
	color: white;
	background-color: rgba(0, 47, 94,1);
	border: 1px solid #caccc5;
	border-radius: 5px;
	transition: background-color 0.5s ease;
}

#device:hover,
.deviceB:hover,
#goBack:hover {
	background-color: rgba(0, 90, 195, 0.8);
	cursor: pointer;
}

.deviceB{font-size:  26px; text-align: center;color: white;
	transition: background-color 0.5s ease;}


.clearfix:after, .clearfix:before {
	display: table;
	content: " "
}
 .clearfix:after {
	clear: both
}
.pulll_left{float:left;}
.pulll_right{float:right;}


.loading{position:fixed; left:0; top:0; font-size:16px; z-index:100000000;width:100%; height:100%; background:#1a1a1c; text-align:center;}
.loadbox{position:absolute; width:160px;height:150px; color: rgba(255,255,255,.6); left:50%; top:50%; margin-top:-100px; margin-left:-75px;}
.loadbox img{ margin:10px auto; display:block; width:40px;}
 
.head{ height:105px; background: url(/images/smartcut/head_bg.png) no-repeat center center; position: relative}
.head h1{ color:#fff; text-align: center; font-size:42px; line-height:90px;;}
.head h1 img{ width:1.5rem; display: inline-block; vertical-align: middle; margin-right: .2rem}
.weather{ position:absolute; right:30px; top:0; line-height: 70px;}
.weather span{color:rgba(255,255,255,.9)!important; font-size: 24px; }

.mainbox{ padding:10px 20px 0 20px;}
.mainbox>ul{ margin-left:-.4rem; margin-right:-.4rem;}
.mainbox>ul>li{ float: left; padding: 0 .4rem}
.mainbox>ul>li{ width: 24%}
.mainbox>ul>li:nth-child(2){ width: 52%}

.boxall{ padding:15px;  background: rgba(0,0,0,.2); position: relative; margin-bottom:15px;; z-index: 10;}
.alltitle{ font-size:25px; color:#fff; position: relative; padding-left: 12px;margin-bottom: 20px;}
.alltitle:before{ width: 5px; height: 30px; top:3px; position: absolute; content: ""; background: #49bcf7; border-radius:20px; left: 0; }

.navboxall{height: calc(100% - 30px);}
.num,.zhibiao{height: 100%; width: 50%;}
.zb1,.zb2,.zb3{float: left; width: 33.3333%; height: 100%;}
#zb1,#zb2,#zb3{height: calc(100% - 30px); }
.zhibiao span{ padding-top: 20px; display: block; text-align: center; color: #fff; font-size: 16px;}
.num{padding-right: 20px;}
.numbt{ font-size: 24px; color: #fff; padding-top:14px;}
.numbt span{font-size: 18px; padding-left: 10px;color: #fff; }

.numtxt {
    color: #fef000;
    font-size: clamp(10px, 3.2vw, 30px);
    font-family: arial;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    margin: 18px 0;
    font-weight: bold;
    letter-spacing: 2px;

    /* 多行显示设置 */
    display: -webkit-box;           /* 使用弹性盒模型的旧版语法 */
    -webkit-box-orient: vertical;   /* 垂直排列 */
    -webkit-line-clamp: 3;          /* 最多显示3行 */
    overflow: hidden;               /* 隐藏溢出 */
    text-overflow: ellipsis;        /* 在最后一行末尾显示省略号 */
    line-height: 1.4;               /* 设置合适的行高 */
    word-wrap: break-word;          /* 允许长单词或 URL 地址换行到下一行 */
}


.table1 th{border-bottom: 1px solid rgba(255,255,255,.2); font-size: 16px; color:rgba(255,255,255,.6); font-weight: normal; padding:0 0 10px 0;}
.table1 td{ font-size: 16px; color:rgba(255,255,255,.4); padding: 15px 0 0 0; }
.table1 span{ width: 24px; height: 24px; border-radius: 3px; display: block; background: #878787; color: #fff; line-height: 24px; text-align: center;}

.table1 tr:nth-child(2) span{ background: #ed405d}
.table1 tr:nth-child(3) span{ background: #f78c44}
.table1 tr:nth-child(4) span{ background: #49bcf7}
.iconchart li{height: 30px;}
.iconchart label{ color: #fff; line-height: 30px; height: 30px; display: inline-block; opacity: .8;}
.iconchart label img{ display: inline-block; vertical-align: middle; opacity: .4;}
.iconchart .bar{ display: inline-block; background: rgba(255,255,255,.1); border:1px solid rgba(255,255,255,.2);width: 78%;height:20px; padding: 2px; position: relative;top: 5px;}
.iconchart .bar span{ background: linear-gradient(to right, #588fab , #5ea99c); display: block; width: 60%; height: 100%;animation: myfirst2 1s  ease;}
.iconchart .bar i{position: absolute; opacity: .5; right:-36px; color: #fff; line-height: 20px; top: 0;}
/*Plugin CSS*/
.wrap{ height:82%; overflow: hidden;}
.wrap li{  line-height:40px; height:40px; }
.wrap li p,.wraptit{ font-size: 0; }
.wrap li span,.wraptit span{ display: inline-block; font-size: 13px;color: rgba(255,255,255,.6);}
.wraptit { border-bottom: 1px solid rgba(255,255,255,.2); padding:0 0 10px 0; margin-bottom: 10px;}
.wrap li span:nth-child(1),.wraptit span:nth-child(1){ width: 10%}
.wrap li span:nth-child(2),.wraptit span:nth-child(2){ width: 50%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: top;}
.wrap li span:nth-child(3),.wraptit span:nth-child(3){ width: 2%}
.wrap li span:nth-child(4),.wraptit span:nth-child(4){ width: 38%}

.str_wrap {
	overflow:hidden;
	width:100%;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	white-space:nowrap;
}


.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
}
.str_move_clone {
	display:inline-block;
	vertical-align:top;
	position:absolute; 
	left:100%;
	top:0;
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {
	max-width:none !important;	
}

@keyframes myfirst2
{
from {width: 0}
to {}
}


#performance,
#performance *,
#performance_all,
#performance_li,
.boxes {
    color: white;

}

#performance_all {
    width: 100%;
    height: 40%;
    border-bottom: gray 1px solid;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#performance_li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50%;
}

.boxes {
    padding: 20px;
    text-align: center;
}